<div class="togglearea">
    <div class="logo">
        <h3 class="font-one-md">Clean Blog</h3>
    </div>
    <label for="toggle" class="font-one-sm">Menu
        <hr>
        <hr>
        <hr>
    </label>
</div>
<div class="container">
  <div class="background img-bg-contact"></div>
  <div class="logo">
    <h3 class="font-one-md">Clean Blog</h3>
  </div>
  <div class="nav">
    <nav>
      <a href="" class="font-one-sm" routerLink= "home" routerLinkActive="router-link-active" >HOME</a>
      <a href="" class="font-one-sm" routerLink= "about" routerLinkActive="router-link-active" >ABOUT</a>
      <a href="" class="font-one-sm" routerLink= "posts" routerLinkActive="router-link-active" >POSTS</a>
      <a href="" id="active" class="font-one-sm" routerLink="contact" routerLinkActive="router-link-active" >CONTACT</a>
    </nav>
  </div>
  <div class="center-content">
    <h1 class="font-one-lg letter-space">Contact Me</h1>
    <h2 class="font-one-sm font-thin">Have questions? I have answers.</h2>
  </div>
  <div class="footer ">
    <p>Want to get in touch?
      Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
  </div>
</div>

<<router-outlet></router-outlet>