<div class="togglearea">
    <div class="logo">
        <h3 class="font-one-md">Clean Blog</h3>
    </div>
    <label for="toggle" class="font-one-sm">Menu
        <hr>
        <hr>
        <hr>
    </label>
</div>
<div class="container">
    <div class="background img-bg-about"></div>
    <div class="logo">
        <h3 class="font-one-md">Clean Blog</h3>
    </div>
    <div class="center-content">
        <h1 class="font-one-lg letter-space">About Me</h1>
        <h2 class="font-one-sm font-thin">This is what I do.</h2>
    </div>
    <div class="footer">
        <p>Lorem ipsum doro sit amet, consectetur adipisicing elit. Sed quisquannut
            prespicatis,repudiandae nulla animi iste vel, praesentium repellendus
            molestais aliquid consequatur, earum rem qui error voluptates eius praesentium
            cosequuntur!
        </p>
    </div>
</div>