<div class="container">
    <div class="background img-bg-home"></div>
    <div class="center-content">
        <h1 class="font-one-lg letter-space">Posts</h1>
        <h2 class="font-one-sm font-thin">Let Us Know What You Think</h2>
    </div>
    <div class="post-container">
        
        <div class="post-item-a">Poster Name #1</div>
        <div class="post-item-b">Poster Message goes here</div>
        <div class="post-item-a">Poster Name #2</div>
        <div class="post-item-b">Poster Message goes here</div>
        <div class="post-item-a">Poster Name #3</div>
        <div class="post-item-b">Poster Message goes here</div>
    </div>
    <div class="post-footer ">
        <p> Never in all their history have men been able truly to conceive of the world as one:
          a single sphere, a globe, having the qualities of a globe, a round earth in which all the directions eventually meet,
          in which there is no center because every point, or none, is center — an equal earth which all men occupy as equals.
          The airman's earth, if free men make it, will be truly round: a globe in practice, not in theory.
        </p>
    </div>
</div>
