<div class="container">
    <div class="background img-bg-home"></div>
    <div class="logo">
    </div>
    <div class="center-content">
        <h1 class="font-one-lg letter-space">Clean Blog</h1>
        <h2 class="font-one-sm font-thin">A Blog Theme by Start Bootstrap</h2>
    </div>
    <div class="footer">
        <h1 class="font-two-md">Man must explore, and this is exploration at it's greatest</h1>
        <h2 class="font-two-sm font-thin">Problems look mighty small from 150 miles up</h2>
        <p class="font-ital">Posted by Start Bootstrap on October 31, 2017 4 mins read.</p>
    </div>
</div>